:root {
  --mainWhite: #fff;
  --mainblack: #222;
  --cardWidth: 16rem;
  --cardHeight: 23rem;
}

.card {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  flex-direction: column;
  width: var(--cardWidth);
  height: var(--cardHeight);
  color: var(--mainblack);
  margin: 10px;
  border: 1px solid #999;
  background: linear-gradient(
    to top,
    #fff 0%,
    #fff 67%,
    #1c5e8a 67%,
    #1c5e8a 100%
  );
}
.card:hover .close { display: block;}
.card-img {
 width: 9.5rem;
 border: 10px solid #fff;
 border-radius: 50%;
 object-fit: contain;
}

.img_div {
  position: absolute;
  top: 8%;
  width: 9.5rem;
  border-radius: 50%;
  border: 1px solid rgb(204, 204, 204);
}
.card h4 {
  position: absolute;
  top: 57%;
  font-size: 20px;
}
.card p {
  position: absolute;
  top: 66%;
  font-size: 17px;
}
.card button {
  position: absolute;
  cursor: pointer;
  top: 81%;
  font-size: 17px;
  padding: 8px;
  color: #1c5e8a;
  font-weight: 700;
  width: 80%;
  background-color: #fff;
  border: 1px solid #1c5e8a;
  border-radius: 5px;
}
.close {
  display: none;
  position: absolute;
  top: 2%;
  right: 2%;
  color: #fff;
  background-color: #606469;
  width: 40px;
  text-align: center;
  padding: 5px;
  border-radius: 50px;
  z-index: 2;
  cursor: pointer;
}
.card:hover {
  box-shadow: 7px 7px 7px #777;
  transform: scale(1, 1.04);
}
