:root {
  --mainWhite: #fff;
  --mainblack: #222;
  --container: 90%;
}
.app {
  width: var(--container);
  margin: 0 auto;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto 1rem auto;
}
#category_list {
  padding: 5px;
  width: 20rem;
  border: 1px solid #999;
  color: #444;
  font-size: medium;
}
.friend_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.loading {
  text-align: center;
}
button {
  padding: 2px;
  margin: 2px 0 0 5px;
  cursor: pointer;
  border: none;
}

